@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:wght@400;500&display=swap');

body {
  background: var(--body-background-default);
};

.globalConteiner {
    max-width: 1200px;
    margin: auto;
  padding-top: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
