.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title {
    font-size: 40px;
    color: var(--title-background-default);
}

.wrapper {
    display: flex;
    align-items: center;
}

.logopng {
    height: 65px;
    width: 65px;
    margin-right: 20px;
    background-color: white;
    border-radius: 20px;
}

.changeCity {
    margin-left: 20px;
}

.changeTheme{
    background-color: white;
    border-radius: 20px;
    &:hover{
        cursor: pointer;
    }
}