.presentDayInfo {
    max-width: 650px;
    width: 100%;
    height: 250px;
    background: var(--components-background-default);
    border-radius: 20px;
    padding: 20px;
    position: relative;
    }

.items {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    color: white;
    margin-bottom: 25px;
    height: 100%;
    justify-content: space-evenly;
}
.itemsElement {
    display: flex;
    flex-direction: row;
    z-index: 2;
    font-size: 17px;
    color: rgb(0, 0, 0);
}
.iconId, .name {
    margin-right: 20px;
}

.cloud {
    position: absolute;
    top: 0;
    right: 0;
}
.name {
    color:rgb(89, 89, 89)
}